# Cleaning Raw Data

This will probably be converted to a standard python file but I wanted to first do some exploratory analysis and visualisations while cleaning the data

In [1]:
import numpy as np 
import pandas as pd
from IPython.display import display

In [2]:
df = pd.read_csv('./raw_data/raw_data.csv')

/tmp/ipykernel_304877/1332353381.py:1: DtypeWarning: Columns (33,35,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./raw_data/raw_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3074785 entries, 0 to 3074784
Data columns (total 41 columns):
 #   Column            Dtype
---  ------            -----
 0   Name              object
 1   Sex               object
 2   Event             object
 3   Equipment         object
 4   Age               float64
 5   AgeClass          object
 6   BirthYearClass    object
 7   Division          object
 8   BodyweightKg      float64
 9   WeightClassKg     object
 10  Squat1Kg          float64
 11  Squat2Kg          float64
 12  Squat3Kg          float64
 13  Squat4Kg          float64
 14  Best3SquatKg      float64
 15  Bench1Kg          float64
 16  Bench2Kg          float64
 17  Bench3Kg          float64
 18  Bench4Kg          float64
 19  Best3BenchKg      float64
 20  Deadlift1Kg       float64
 21  Deadlift2Kg       float64
 22  Deadlift3Kg       float64
 23  Deadlift4Kg       float64
 24  Best3DeadliftKg   float64
 25  TotalKg           float64
 26  Place             object
 27  Dots              float64
 28  Wilks             float64
 29  Glossbrenner      float64
 30  Goodlift          float64
 31  Tested            object
 32  Country           object
 33  State             object
 34  Federation        object
 35  ParentFederation  object
 36  Date              object
 37  MeetCountry       object
 38  MeetState         object
 39  MeetTown          object
 40  MeetName          object
dtypes: float64(22), object(19)
memory usage: 961.8+ MB

In [4]:
df.head()

,Name,Sex,Event,Equipment,Age,AgeClass,BirthYearClass,Division,BodyweightKg,WeightClassKg,...,Tested,Country,State,Federation,ParentFederation,Date,MeetCountry,MeetState,MeetTown,MeetName
0,Alona Vladi,F,SBD,Raw,33.0,24-34,24-39,O,58.30,60,...,Yes,Russia,NaN,GFP,NaN,2019-05-11,Russia,NaN,Bryansk,Open Tournament
1,Galina Solovyanova,F,SBD,Raw,43.0,40-44,40-49,M1,73.10,75,...,Yes,Russia,NaN,GFP,NaN,2019-05-11,Russia,NaN,Bryansk,Open Tournament
2,Daniil Voronin,M,SBD,Raw,15.5,16-17,14-18,T,67.40,75,...,Yes,Russia,NaN,GFP,NaN,2019-05-11,Russia,NaN,Bryansk,Open Tournament
3,Aleksey Krasov,M,SBD,Raw,35.0,35-39,24-39,O,66.65,75,...,Yes,Russia,NaN,GFP,NaN,2019-05-11,Russia,NaN,Bryansk,Open Tournament
4,Margarita Pleschenkova,M,SBD,Raw,26.5,24-34,24-39,O,72.45,75,...,Yes,Russia,NaN,GFP,NaN,2019-05-11,Russia,NaN,Bryansk,Open Tournament

In [5]:
df.describe

<bound method NDFrame.describe of                            Name Sex Event   Equipment   Age AgeClass  \
0                   Alona Vladi   F   SBD         Raw  33.0    24-34
1            Galina Solovyanova   F   SBD         Raw  43.0    40-44
2                Daniil Voronin   M   SBD         Raw  15.5    16-17
3                Aleksey Krasov   M   SBD         Raw  35.0    35-39
4        Margarita Pleschenkova   M   SBD         Raw  26.5    24-34
...                         ...  ..   ...         ...   ...      ...
3074780            Inna Orobets   F   SBD  Single-ply  45.0    45-49
3074781             Ágnes Szabó   F   SBD  Single-ply  27.5    24-34
3074782   Brenda van der Meulen   F   SBD  Single-ply  37.5    35-39
3074783            Kelly Phasey   F   SBD  Single-ply  39.5    35-39
3074784  Hildeborg Juvet Hugdal   F   SBD  Single-ply  32.5    24-34

        BirthYearClass Division  BodyweightKg WeightClassKg  ...  Tested  \
0                24-39        O         58.30            60  ...     Yes
1                40-49       M1         73.10            75  ...     Yes
2                14-18        T         67.40            75  ...     Yes
3                24-39        O         66.65            75  ...     Yes
4                24-39        O         72.45            75  ...     Yes
...                ...      ...           ...           ...  ...     ...
3074780          40-49     Open        109.30           84+  ...     Yes
3074781          24-39     Open        113.22           84+  ...     Yes
3074782          24-39     Open        110.79           84+  ...     Yes
3074783          40-49     Open        124.53           84+  ...     Yes
3074784          24-39     Open        123.00           84+  ...     Yes

             Country  State  Federation  ParentFederation        Date  \
0             Russia    NaN         GFP               NaN  2019-05-11
1             Russia    NaN         GFP               NaN  2019-05-11
2             Russia    NaN         GFP               NaN  2019-05-11
3             Russia    NaN         GFP               NaN  2019-05-11
4             Russia    NaN         GFP               NaN  2019-05-11
...              ...    ...         ...               ...         ...
3074780      Ukraine    NaN         IPF               IPF  2016-11-14
3074781      Hungary    NaN         IPF               IPF  2016-11-14
3074782  Netherlands    NaN         IPF               IPF  2016-11-14
3074783      England    NaN         IPF               IPF  2016-11-14
3074784       Norway    NaN         IPF               IPF  2016-11-14

         MeetCountry  MeetState  MeetTown                  MeetName
0             Russia        NaN   Bryansk           Open Tournament
1             Russia        NaN   Bryansk           Open Tournament
2             Russia        NaN   Bryansk           Open Tournament
3             Russia        NaN   Bryansk           Open Tournament
4             Russia        NaN   Bryansk           Open Tournament
...              ...        ...       ...                       ...
3074780          USA        NaN   Orlando  World Open Championships
3074781          USA        NaN   Orlando  World Open Championships
3074782          USA        NaN   Orlando  World Open Championships
3074783          USA        NaN   Orlando  World Open Championships
3074784          USA        NaN   Orlando  World Open Championships

[3074785 rows x 41 columns]>

In [6]:
df.columns

Index(['Name', 'Sex', 'Event', 'Equipment', 'Age', 'AgeClass',
       'BirthYearClass', 'Division', 'BodyweightKg', 'WeightClassKg',
       'Squat1Kg', 'Squat2Kg', 'Squat3Kg', 'Squat4Kg', 'Best3SquatKg',
       'Bench1Kg', 'Bench2Kg', 'Bench3Kg', 'Bench4Kg', 'Best3BenchKg',
       'Deadlift1Kg', 'Deadlift2Kg', 'Deadlift3Kg', 'Deadlift4Kg',
       'Best3DeadliftKg', 'TotalKg', 'Place', 'Dots', 'Wilks', 'Glossbrenner',
       'Goodlift', 'Tested', 'Country', 'State', 'Federation',
       'ParentFederation', 'Date', 'MeetCountry', 'MeetState', 'MeetTown',
       'MeetName'],
      dtype='object')

In [7]:
missing_values_count = df.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[0:10]

Name                    0
Sex                     0
Event                   0
Equipment               0
Age               1074371
AgeClass           818026
BirthYearClass    1004731
Division             1435
BodyweightKg        38576
WeightClassKg       41476
dtype: int64

In [8]:
total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

31.993323189719746

In [9]:
# Lets fill in any N/A data with 0's as some lifters won't be doing all the lifts
df.fillna(0)

,Name,Sex,Event,Equipment,Age,AgeClass,BirthYearClass,Division,BodyweightKg,WeightClassKg,...,Tested,Country,State,Federation,ParentFederation,Date,MeetCountry,MeetState,MeetTown,MeetName
0,Alona Vladi,F,SBD,Raw,33.0,24-34,24-39,O,58.30,60,...,Yes,Russia,0,GFP,0,2019-05-11,Russia,0,Bryansk,Open Tournament
1,Galina Solovyanova,F,SBD,Raw,43.0,40-44,40-49,M1,73.10,75,...,Yes,Russia,0,GFP,0,2019-05-11,Russia,0,Bryansk,Open Tournament
2,Daniil Voronin,M,SBD,Raw,15.5,16-17,14-18,T,67.40,75,...,Yes,Russia,0,GFP,0,2019-05-11,Russia,0,Bryansk,Open Tournament
3,Aleksey Krasov,M,SBD,Raw,35.0,35-39,24-39,O,66.65,75,...,Yes,Russia,0,GFP,0,2019-05-11,Russia,0,Bryansk,Open Tournament
4,Margarita Pleschenkova,M,SBD,Raw,26.5,24-34,24-39,O,72.45,75,...,Yes,Russia,0,GFP,0,2019-05-11,Russia,0,Bryansk,Open Tournament
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3074780,Inna Orobets,F,SBD,Single-ply,45.0,45-49,40-49,Open,109.30,84+,...,Yes,Ukraine,0,IPF,IPF,2016-11-14,USA,0,Orlando,World Open Championships
3074781,Ágnes Szabó,F,SBD,Single-ply,27.5,24-34,24-39,Open,113.22,84+,...,Yes,Hungary,0,IPF,IPF,2016-11-14,USA,0,Orlando,World Open Championships
3074782,Brenda van der Meulen,F,SBD,Single-ply,37.5,35-39,24-39,Open,110.79,84+,...,Yes,Netherlands,0,IPF,IPF,2016-11-14,USA,0,Orlando,World Open Championships
3074783,Kelly Phasey,F,SBD,Single-ply,39.5,35-39,40-49,Open,124.53,84+,...,Yes,England,0,IPF,IPF,2016-11-14,USA,0,Orlando,World Open Championships
3074784,Hildeborg Juvet Hugdal,F,SBD,Single-ply,32.5,24-34,24-39,Open,123.00,84+,...,Yes,Norway,0,IPF,IPF,2016-11-14,USA,0,Orlando,World Open Championships

In [10]:
df.columns # We need to figure out which ones we want to keep and which onces we want to drop

Index(['Name', 'Sex', 'Event', 'Equipment', 'Age', 'AgeClass',
       'BirthYearClass', 'Division', 'BodyweightKg', 'WeightClassKg',
       'Squat1Kg', 'Squat2Kg', 'Squat3Kg', 'Squat4Kg', 'Best3SquatKg',
       'Bench1Kg', 'Bench2Kg', 'Bench3Kg', 'Bench4Kg', 'Best3BenchKg',
       'Deadlift1Kg', 'Deadlift2Kg', 'Deadlift3Kg', 'Deadlift4Kg',
       'Best3DeadliftKg', 'TotalKg', 'Place', 'Dots', 'Wilks', 'Glossbrenner',
       'Goodlift', 'Tested', 'Country', 'State', 'Federation',
       'ParentFederation', 'Date', 'MeetCountry', 'MeetState', 'MeetTown',
       'MeetName'],
      dtype='object')

In [11]:
columns_to_drop = ['BirthYearClass', 'Squat1Kg', 'Squat2Kg', 'Squat3Kg', 'Squat4Kg', 'Bench1Kg', 'Bench2Kg', 'Bench3Kg', 'Bench4Kg', 'Deadlift1Kg', 'Deadlift2Kg', 'Deadlift3Kg', 'Deadlift4Kg', 'Wilks', 'Glossbrenner', 'Goodlift', 'State', 'MeetCountry', 'MeetState', 'MeetTown', 'MeetName', 'ParentFederation', 'Division']

df.drop(columns=columns_to_drop, axis=1, inplace=True)

In [12]:
df.shape

(3074785, 18)

In [13]:
df.columns

Index(['Name', 'Sex', 'Event', 'Equipment', 'Age', 'AgeClass', 'BodyweightKg',
       'WeightClassKg', 'Best3SquatKg', 'Best3BenchKg', 'Best3DeadliftKg',
       'TotalKg', 'Place', 'Dots', 'Tested', 'Country', 'Federation', 'Date'],
      dtype='object')

In [14]:
# I want to rename some of the columns for readability of my databse
df.columns = ['Name', 'Sex', 'Event', 'Equiptment', 'Age', 'Age_Class', 'Bodyweight', 'Weight_Class', 'Squat', 'Bench', 'Deadlift', 'Total', 'Place', 'Dots', 'Tested', 'Country', 'Federation', 'Date']

In [15]:
df.isnull().sum()

Name                  0
Sex                   0
Event                 0
Equiptment            0
Age             1074371
Age_Class        818026
Bodyweight        38576
Weight_Class      41476
Squat           1016665
Bench            361059
Deadlift         841872
Total            203605
Place                 0
Dots             228653
Tested           810701
Country         1290533
Federation            0
Date                  0
dtype: int64

In [16]:
df.shape

(3074785, 18)

In [17]:
# Drop rows with null values in the 'Country' column
df_cleaned = df.dropna(subset=['Country', 'Total', 'Age', 'Dots', 'Age_Class', 'Weight_Class'])

In [18]:
df_cleaned.isnull().sum()

Name                 0
Sex                  0
Event                0
Equiptment           0
Age                  0
Age_Class            0
Bodyweight           0
Weight_Class         0
Squat           518477
Bench           121738
Deadlift        383528
Total                0
Place                0
Dots                 0
Tested          436098
Country              0
Federation           0
Date                 0
dtype: int64

In [19]:
df_cleaned.shape

(1408456, 18)

In [20]:
df_cleaned["Tested"] = df_cleaned["Tested"].fillna("No")
df_cleaned["Squat"] = df_cleaned["Squat"].fillna(0)
df_cleaned["Bench"] = df_cleaned["Bench"].fillna(0)
df_cleaned["Deadlift"] = df_cleaned["Deadlift"].fillna(0)

/tmp/ipykernel_304877/68475003.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Tested"] = df_cleaned["Tested"].fillna("No")
/tmp/ipykernel_304877/68475003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Squat"] = df_cleaned["Squat"].fillna(0)
/tmp/ipykernel_304877/68475003.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Bench"] = df_cleaned["Bench"].fillna(0)
/tmp/ipykernel_304877/68475003.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Deadlift"] = df_cleaned["Deadlift"].fillna(0)

In [21]:
df_cleaned.isnull().sum() # So Satifying we have 1.4 million cleaned rows of data

Name            0
Sex             0
Event           0
Equiptment      0
Age             0
Age_Class       0
Bodyweight      0
Weight_Class    0
Squat           0
Bench           0
Deadlift        0
Total           0
Place           0
Dots            0
Tested          0
Country         0
Federation      0
Date            0
dtype: int64

In [22]:
df_cleaned.shape

(1408456, 18)

In [23]:
# Ensure each column has correct datatype 
df_cleaned.dtypes # Lets convert

Name             object
Sex              object
Event            object
Equiptment       object
Age             float64
Age_Class        object
Bodyweight      float64
Weight_Class     object
Squat           float64
Bench           float64
Deadlift        float64
Total           float64
Place            object
Dots            float64
Tested           object
Country          object
Federation       object
Date             object
dtype: object

In [24]:
# Define the mapping from string to boolean
mapping = {"Yes": True, "No": False}

# Use map to apply the mapping to the column
df_cleaned["Tested"] = df_cleaned["Tested"].map(mapping).astype(bool)

# Step 1: Identify Non-Numeric Values
non_numeric_rows = df_cleaned[~df_cleaned['Place'].str.isdigit()]

# Step 2: Convert Numeric Values to Integers
numeric_rows = df_cleaned[df_cleaned['Place'].str.isdigit()]
df_cleaned['Place'] = numeric_rows['Place'].astype(int)

# Step 3: Drop Rows with Non-Numeric Values
df_cleaned = df_cleaned.drop(non_numeric_rows.index)

/tmp/ipykernel_304877/3772340794.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Tested"] = df_cleaned["Tested"].map(mapping).astype(bool)
/tmp/ipykernel_304877/3772340794.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Place'] = numeric_rows['Place'].astype(int)

In [32]:
df_cleaned['Place'] = df_cleaned['Place'].astype('Int64')
df_cleaned['Age'] = np.floor(df_cleaned['Age'])
df_cleaned['Age'] = df_cleaned['Age'].astype('Int64')
df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'])

In [33]:
df_cleaned.dtypes

Name                    object
Sex                     object
Event                   object
Equiptment              object
Age                      Int64
Age_Class               object
Bodyweight             float64
Weight_Class            object
Squat                  float64
Bench                  float64
Deadlift               float64
Total                  float64
Place                    Int64
Dots                   float64
Tested                    bool
Country                 object
Federation              object
Date            datetime64[ns]
dtype: object

In [37]:
df_cleaned['Date'].head()

0   2019-05-11
1   2019-05-11
2   2019-05-11
3   2019-05-11
4   2019-05-11
Name: Date, dtype: datetime64[ns]

In [38]:
df_cleaned['Date'][0] == df_cleaned['Date'][1]

True

The data is now in a format fit for the relational database, we could further split it up but well leave it like this for now unless we need multiple tables to make things easier later